<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
        content="waste, classification, recycle, environment, application, technology, waste classification" />
    <meta name="description" content="RecycleML — Responsive application which classifies waste to help you recycle without thinking.">
    <meta name="RecycleML"
        content="RecycleML — Responsive application which classifies waste to help you recycle without thinking." />
    <title>RecycleML - {{ title }}</title>
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png">
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <!--owl carousel css-->
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.min.css">
    <!--magnific popup css-->
    <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css">
    <!--icofont css-->
    <link rel="stylesheet" type="text/css" href="../static/css/icofont.min.css">
    <!--animate css-->
    <link rel="stylesheet" type="text/css" href="../static/css/animate.css">
    <!--main css-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
    <!--responsive input image field form-->
    <link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/wtf-forms.css">
</head>

<body>
    <!--star preloader-->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell align-middle">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>
    <!--end preloader-->
    <!--start header-->
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <div class="container">
                    <!--logo-->
                    <a class="logo" href="#"><img src="../static/img/logo-cropped.png" alt="logo" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"><i class="icofont-navigation-menu"></i></span>
                    </button>
                    <!--navbar links-->
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-scroll-nav="1">Upload</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-scroll-nav="2">Feedback</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-scroll-nav="3">Demos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-scroll-nav="4">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--end header-->
    <!--start hero area-->
    <section id="hero-area" class="default" data-scroll-index="0">
        <div class="container">
            <div class="row">
                <!--start caption image-->
                <div class="col-md-5">
                    <div class="caption-img">
                        <img src="../static/img/favicon.png" class="img-fluid" alt="" />
                    </div>
                </div>
                <!--end caption image-->
                <!--start caption content-->
                <div class="col-md-7">
                    <div class="caption">
                        <h1 class="text-white">Simple Waste Classification</h1>
                        <p class="text-white">You just finished enjoying your favorite chocalate bar. 
                            However, now you have to trash the wrapper from your premiere commodity. 
                            Already annoyed at the fact that you have finished your pleasurable snack, you now have 
                            to walk up find a trash can and throw the wrapper into the garbadge. 
                            For you, you are most likeliest to throw it into the nearest bin you can find. 
                            You are statistically unlikely to ponder whether the paper wrapper should be placed in the recycling bin or the garbadge bin. 
                            The blue color and nearby locality to another garbadge can help you realize you should recycle there; however, according to the 
                            The American Recycling Center, a high majority of all recycled material is simply office paper.
                            With an over 80% classification rate, we aim to elevate people's recycling habits!</p>
                        <div class="hero-btn">
                            <a class="bg" href="#about-area">Get Started!</a><a href="#">About Us</a>
                        </div>
                    </div>
                </div>
                <!--end caption content-->
            </div>
        </div>
    </section>
    <!--end hero area-->
    <!--start about area-->
    <section id="about-area" class="default" data-scroll-index="1">
        <br />
        <div class="container">
            <div class="row">
                <!--start about content-->
                <div class="col-md-6 align-middle justify-content-center align-self-center">
                    <div class="about-cont">
                        <form class="col s12">
                            <label class="file">
                                <input type="file" id="file" aria-label="File browser example">
                                <span class="file-custom"></span>
                              </label>
                              <br />
                              <a href="/upload" class="white-text">Submit!</a>
                                </form>
                            </div>
                </div>
                <!--end about content-->
                <!--start about image-->
                <div class="col-md-6">
                        <div class="about-cont">
                                <h5>Upload a photo</h5>
                                <h2>Don't just wonder how RecycleML works, try it out yourself</h2>
                                <p>We have calculated the following for you:</p>
                                <ul class="red">
                                        <li id="oneR"><i class="icofont-close-squared-alt"></i> No image has been uploaded yet </li>
                                        </ul>
                                        <ul class="green">
                                    <li id="oneG"><i class="icofont-check"></i> Confidence Levels: 
                                    <ul class="probs">
                                        <li> <font size="1">{ p1 } probability of being { n1 }</font> </li>
                                        <li> <font size="1">{ p2 } probability of being { n2 }</font> </li>
                                        <li> <font size="1">{ p3 } probability of being { n3 }</font> </li>
                                        <li> <font size="1">{ p4 } probability of being { n4 }</font> </li>
                                        <li> <font size="1">{ p5 } probability of being { n5 }</font> </li>
                                        <li> <font size="1">{ p6 } probability of being { n6 }</font> </li>
                                    </ul>
                                    </li>
                                    <li id="twoG"><i class="icofont-check"></i> This image is most likely { n1 }. </li>
                                    <li id="threeG"><i class="icofont-check"></i> The second most likely waste category is { n2 } </li>
                                </ul>
                            </div>
                </div>
                <!--end about image-->
            </div>
        </div>
    </section>
    <!--end about area-->
    <!--start Feedback area-->
    <br />
    <section id="video-area" data-scroll-index="2">
        <div class="container">
        <br />
        <br />

            <div class="row">
                <!--start video content-->
                <div class="col-md-6 offset-md-6">
                    <div class="video-cont">
                        <h5>More information</h5>
                        <h2>Was the output you recieved inaccurate?</h2>
                        <p>If the predicted output was incorrect, press the 
                            button below to help train our model and improve 
                            future predictions.</p>
                        <a href="#contact-area">Incorrect Output?</a>
                    </div>
                </div>
                <!--end video content-->
            </div>
        </div>
        <!--start video plyer-->
        <div class="video-player-wrap">
            <div class="video-player d-table text-center">
                <div class="d-table-cell align-middle">
                </div>
            </div>
        </div>
        <!--end video plyer-->
    </section>
    <!--end Feedback area-->
    <!--start testimonial area-->
    <section id="testi-area" class="bg-gray" data-scroll-index="3">
            <br />
            <div class="container">
            <div class="row">
                <!--start heading-->
                <div class="col-lg-8 offset-lg-2">
                    <div class="heading text-center">
                        <h5>Demo Examples</h5>
                        <h2>We have tested the following </h2>
                        <p>Below, are some featured examples of how our application classified images.</p>
                    </div>
                </div>
                <!--end heading-->
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="testi-carousel owl-carousel">
                        <!--start testimonial single-->
                        <div class="testi-single text-center">
                            <div class="client-img">
                                <img src="../static/img/data/train/metal/metal7.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="client-comnt">
                                <h5>Above is a metal can (from our Kaggle dataset) which we tested our image 
                                    classification script on to see which compartment would best fit the image.
                                    The result was metal.</h5>
                                <span><i class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i></span>
                            </div>
                            <div class="client-details">
                                <h4>- Confidence: 97.44%</h4>
                                <p>Actual Compartment: metal</p>
                            </div>
                        </div>
                        <!--end testimonial single-->
                        <!--start testimonial single-->
                        <div class="testi-single text-center">
                            <div class="client-img">
                                <img src="../static/img/data/train/glass/glass88.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="client-comnt">
                                <h5>Above is a glass bottle (from our Kaggle dataset) which we tested our image 
                                        classification script on to see which compartment would best fit the image.
                                        The result was glass.
                                </h5>
                                <span><i class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i></span>
                            </div>
                            <div class="client-details">
                                <h4>- Confidence: 99.91%</h4>
                                <p>Actual Compartment: glass</p>
                            </div>
                        </div>
                        <!--end testimonial single-->
                        <!--start testimonial single-->
                        <div class="testi-single text-center">
                                <div class="client-img">
                                    <img src="../static/img/data/train/cardboard/cardboard200.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="client-comnt">
                                    <h5>Above is a cardboard box (from our Kaggle dataset) which we tested our image 
                                            classification script on to see which compartment would best fit the image.
                                            The result was cardboard.
                                    </h5>
                                    <span><i class="icofont-star"></i><i class="icofont-star"></i><i
                                            class="icofont-star"></i><i class="icofont-star"></i><i
                                            class="icofont-star"></i></span>
                                </div>
                                <div class="client-details">
                                <h4>- Confidence: 99.92%</h4>
                                    <p>Actual Compartment: cardboard</p>
                                </div>
                            </div>
                            <!--end testimonial single-->
                            <!--start testimonial single-->
                        <div class="testi-single text-center">
                                <div class="client-img">
                                    <img src="../static/img/data/train/paper/paper208.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="client-comnt">
                                    <h5>Above is a newspaper (from our Kaggle dataset) which we tested our image 
                                            classification script on to see which compartment would best fit the image.
                                            The result was paper.
                                    </h5>
                                    <span><i class="icofont-star"></i><i class="icofont-star"></i><i
                                            class="icofont-star"></i><i class="icofont-star"></i><i
                                            class="icofont-star"></i></span>
                                </div>
                                <div class="client-details">
                                <h4>- Confidence: 99.63%</h4>
                                    <p>Actual Compartment: paper</p>
                                </div>
                            </div>
                            <!--end testimonial single-->
                            <!--start testimonial single-->
                        <div class="testi-single text-center">
                                <div class="client-img">
                                    <img src="../static/img/data/train/plastic/plastic151.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="client-comnt">
                                    <h5>Above is a plastic milk bottle (from our Kaggle dataset) which we tested our image 
                                            classification script on to see which compartment would best fit the image.
                                            The result was plastic.
                                    </h5>
                                    <span><i class="icofont-star"></i><i class="icofont-star"></i><i
                                            class="icofont-star"></i><i class="icofont-star"></i><i
                                            class="icofont-star"></i></span>
                                </div>
                                <div class="client-details">
                                <h4>- Confidence: 93.08%</h4>
                                    <p>Actual Compartment: plastic</p>
                                </div>
                            </div>
                            <!--end testimonial single-->
                        <!--start testimonial single-->
                        <div class="testi-single text-center">
                            <div class="client-img">
                                <img src="../static/img/data/train/trash/trash114.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="client-comnt">
                                <h5>Above is a Nutter Butter Wrapper (from our Kaggle dataset) which we tested our image 
                                        classification script on to see which compartment would best fit the image.
                                        The result was trash.
                                </h5>
                                <span><i class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i></span>
                            </div>
                            <div class="client-details">
                                    <h4>- Confidence: 93.43%</h4>
                                <p>Actual Compartment: trash</p>
                            </div>
                        </div>
                        <!--end testimonial single-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end testimonial area-->
    <!--start contact area-->
    <section id="contact-area" data-scroll-index="4">
            <br />
            <br />
            <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="heading">
                        <h5>Need Help</h5>
                        <h2>Contact us</h2>  
                    </div>
                    <div class="contact-info">
                        <h5>Address:</h5>
                        <p>Princeton <br> New Jersey, USA</p>
                    </div>
                    <div class="contact-info">
                        <h5>Email:</h5>
                        <p>support@recycleml.com</p>
                    </div>
                    <!-- <div class="contact-info">
                        <h5>Phone:</h5>
                        <p>+91 12345 67890<br> +93 12345 67890</p>
                    </div> -->
                </div>
                <!--start contact form-->
                <div class="col-md-7">
                    <div class="contact-form">
                        <h3>Leave Us A Message</h3>
                        <form id="ajax-contact" action="" method="post">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name*"
                                    required="required" data-error="name is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter email*" required="required"
                                    data-error="valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" name="message" rows="8"
                                    placeholder="Write your message*" required="required"
                                    data-error="Please, leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit">Submit</button>
                            <div class="messages"></div>
                        </form>
                    </div>
                </div>
                <!--end contact form-->
            </div>
        </div>
    </section>
    <!--end contact area-->
        <!--start newsletter area-->
        <section id="newsletter-area" class="bg" class="default" data-scroll-index="5">
                <br />
            <div class="container">
                <div class="row">
                    <!--start newsletter content-->
                    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                        <div class="newsletter-box">
                            <div class="heading text-center">
                                <h5 class="text-light">Get Up To Date</h5>
                                <h2 class="text-white">Subscribe our newsletter</h2>
                            </div>
                            <!--start newsletter form-->
                            <div class="newsletter-form">
                                <form action="#" method="post">
                                    <input type="email" class="form-control" id="news-email" placeholder="Enter your email">
                                    <button type="submit">Subscribe Now</button>
                                </form>
                            </div>
                            <!--end newsletter form-->
                        </div>
                    </div>
                    <!--end newsletter content-->
                </div>
            </div>
        </section>
        <!--end newsletter area-->
    <!--start footer-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <!--start footer content-->
                <div class="col-lg-12">
                    <div class="footer-cont text-center">
                        <img src="../static/img/logo.png" class="img-fluid" alt="" />
                        <h4>Follow Us</h4>
                        <ul>
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                        </ul>
                        <p>&copy; Copyright 2019. All Rights Reserved By <a class="hyperlink" target="_blank"
                                href="https://rshah.tech/">RecycleML</a></p>
                    </div>
                </div>
                <!--end footer content-->
            </div>
        </div>
    </footer>
    <!--end footer-->
    <!--jQuery js-->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <!--proper js-->
    <script src="../static/js/popper.min.js"></script>
    <!--bootstrap js-->
    <script src="../static/js/bootstrap.min.js"></script>
    <!--magnic popup js-->
    <script src="../static/js/magnific-popup.min.js"></script>
    <!--owl carousel js-->
    <script src="../static/js/owl.carousel.min.js"></script>
    <!--scrollIt js-->
    <script src="../static/js/scrollIt.min.js"></script>
    <!--contact js-->
    <script src="../static/js/contact.js"></script>
    <!--validator js-->
    <script src="../static/js/validator.min.js"></script>
    <!--main js-->
    <script src="../static/js/custom.js"></script>
</body>
</html>
