<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
        content="waste, classification, recycle, environment, application, technology, waste classification" />
    <meta name="description" content="RecycleML — Responsive application which classifies waste to help you recycle without thinking.">
    <meta name="RecycleML"
        content="RecycleML — Responsive application which classifies waste to help you recycle without thinking." />
    <title>RecycleML - Simple Waste Classification</title>
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png">
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <!--owl carousel css-->
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.min.css">
    <!--magnific popup css-->
    <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css">
    <!--icofont css-->
    <link rel="stylesheet" type="text/css" href="../static/css/icofont.min.css">
    <!--animate css-->
    <link rel="stylesheet" type="text/css" href="../static/css/animate.css">
    <!--main css-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
</head>

<body>
    <!--star preloader-->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell align-middle">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>
    <!--end preloader-->
    <!--start header-->
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <div class="container">
                    <!--logo-->
                    <a class="logo" href="#"><img src="assets/img/logo.png" alt="logo" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"><i class="icofont-navigation-menu"></i></span>
                    </button>
                    <!--navbar links-->
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-scroll-nav="1">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-scroll-nav="2">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-scroll-nav="3">Faq</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-scroll-nav="4">Review</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-scroll-nav="5">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--end header-->
    <!--start hero area-->
    <section id="hero-area" class="default" data-scroll-index="0">
        <div class="container">
            <div class="row">
                <!--start caption image-->
                <div class="col-md-5">
                    <div class="caption-img">
                        <img src="assets/img/watch-1.png" class="img-fluid" alt="" />
                    </div>
                </div>
                <!--end caption image-->
                <!--start caption content-->
                <div class="col-md-7">
                    <div class="caption">
                        <h1 class="text-white">Best Landing Page For Product Showcase</h1>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                            hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id,
                            mattis vel, nisi. Sed pretium ligula.</p>
                        <div class="hero-btn">
                            <a class="bg" href="#">Buy For $199</a><a href="#">More Info</a>
                        </div>
                    </div>
                </div>
                <!--end caption content-->
            </div>
        </div>
    </section>
    <!--end hero area-->
    <!--start about area-->
    <section id="about-area" class="default">
        <div class="container">
            <div class="row">
                <!--start about content-->
                <div class="col-md-6">
                    <div class="about-cont">
                        <h5>About Watch</h5>
                        <h2>Awesome digital watch can make your life easier</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                            eros. Nullam malesuada erat ut turpis.</p>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                            Aenean dignissim pellentesque felis.</p>
                        <ul>
                            <li><i class="icofont-check"></i> High Quality Product</li>
                            <li><i class="icofont-check"></i> Modern And New Design</li>
                            <li><i class="icofont-check"></i> Multiple Color Available</li>
                        </ul>
                        <a href="#product-area">Read More</a>
                    </div>
                </div>
                <!--end about content-->
                <!--start about image-->
                <div class="col-md-6">
                    <div class="about-img">
                        <img src="assets/img/watch-img.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
                <!--end about image-->
            </div>
        </div>
    </section>
    <!--end about area-->
    <!--start core feature area-->
    <section id="core-feat-area" class="bg-gray" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <!--start heading-->
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="heading text-center">
                        <h5>Core Features</h5>
                        <h2>Our product has lots of excellent core features for smart people.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo voluptas nisi iste
                            reiciendis, tempore commodi necessitatibus, laborum laudantium.</p>
                    </div>
                </div>
                <!--end heading-->
            </div>
            <div class="row">
                <!--start core feature single-->
                <div class="col-lg-4 col-md-6">
                    <div class="core-feat-single text-center">
                        <i class="icofont-globe"></i>
                        <h4>GPRS Tracking</h4>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                            Aenean dignissim.</p>
                    </div>
                </div>
                <!--end core feature single-->
                <!--start core feature single-->
                <div class="col-lg-4 col-md-6">
                    <div class="core-feat-single text-center">
                        <i class="icofont-alarm"></i>
                        <h4>Notification Alart</h4>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                            Aenean dignissim.</p>
                    </div>
                </div>
                <!--end core feature single-->
                <!--start core feature single-->
                <div class="col-lg-4 col-md-6">
                    <div class="core-feat-single text-center">
                        <i class="icofont-video"></i>
                        <h4>Instant Video Call</h4>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                            Aenean dignissim.</p>
                    </div>
                </div>
                <!--end core feature single-->
                <!--start core feature single-->
                <div class="col-lg-4 col-md-6">
                    <div class="core-feat-single text-center">
                        <i class="icofont-chat"></i>
                        <h4>User Live Chat</h4>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                            Aenean dignissim.</p>
                    </div>
                </div>
                <!--end core feature single-->
                <!--start core feature single-->
                <div class="col-lg-4 col-md-6">
                    <div class="core-feat-single text-center">
                        <i class="icofont-brand-android-robot"></i>
                        <h4>Install Any App</h4>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                            Aenean dignissim.</p>
                    </div>
                </div>
                <!--end core feature single-->
                <!--start core feature single-->
                <div class="col-lg-4 col-md-6">
                    <div class="core-feat-single text-center">
                        <i class="icofont-dart"></i>
                        <h4>Attractive Design</h4>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                            Aenean dignissim.</p>
                    </div>
                </div>
                <!--end core feature single-->
            </div>
        </div>
    </section>
    <!--end core feature area-->
    <!--start video area-->
    <section id="video-area">
        <div class="container">
            <div class="row">
                <!--start video content-->
                <div class="col-md-6 offset-md-6">
                    <div class="video-cont">
                        <h5>Product Demo</h5>
                        <h2>Watch the demo video for more information about our products.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                            eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                            posuere a, pede.</p>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                            Aenean dignissim pellentesque felis.</p>
                        <a href="#product-area">Visit Our Store</a>
                    </div>
                </div>
                <!--end video content-->
            </div>
        </div>
        <!--start video plyer-->
        <div class="video-player-wrap">
            <div class="video-player d-table text-center">
                <div class="d-table-cell align-middle">
                    <a class="popup-video" href="https://www.youtube.com/watch?v=clXBiR01kUM"><i
                            class="icofont-play"></i></a>
                </div>
            </div>
        </div>
        <!--end video plyer-->
    </section>
    <!--end video area-->
    <!--start why choose area-->
    <section id="why-chose-area" class="bg-gray">
        <div class="container">
            <div class="row">
                <!--start heading-->
                <div class="col-lg-8 offset-lg-2">
                    <div class="heading text-center">
                        <h5>Why Choose Our Product</h5>
                        <h2>We are providing best and high quality products. Why we are best?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo voluptas nisi iste
                            reiciendis, tempore commodi necessitatibus, laborum laudantium.</p>
                    </div>
                </div>
                <!--end heading-->
            </div>
            <div class="row">
                <!--start why choose image-->
                <div class="col-md-6">
                    <div class="why-chose-img">
                        <img class="img-fluid" src="assets/img/watch-img-4.jpg" alt="image">
                    </div>
                </div>
                <!--end why choose image-->
                <!--start why choose content-->
                <div class="col-md-6">
                    <div class="why-chose-cont">
                        <!--start why choose single-->
                        <div class="why-chose-single">
                            <div class="icon">
                                <i class="icofont-check"></i>
                            </div>
                            <div class="cont">
                                <h5>Our all products are high quality and fashionable with lifetime guarantee</h5>
                            </div>
                        </div>
                        <!--end why choose single-->
                        <!--start why choose single-->
                        <div class="why-chose-single">
                            <div class="icon">
                                <i class="icofont-check"></i>
                            </div>
                            <div class="cont">
                                <h5>Our all products are high quality and fashionable with lifetime guarantee</h5>
                            </div>
                        </div>
                        <!--end why choose single-->
                        <!--start why choose single-->
                        <div class="why-chose-single">
                            <div class="icon">
                                <i class="icofont-check"></i>
                            </div>
                            <div class="cont">
                                <h5>We are providing 24 hours dedicated support for our all customers</h5>
                            </div>
                        </div>
                        <!--end why choose single-->
                    </div>
                </div>
                <!--end why choose content-->
            </div>
        </div>
    </section>
    <!--end why choose area-->
    <!--start product area-->
    <section id="product-area" data-scroll-index="2">
        <div class="container">
            <div class="row">
                <!--start heading-->
                <div class="col-lg-8 offset-lg-2">
                    <div class="heading text-center">
                        <h5>Our Product</h5>
                        <h2>We have lots of excellent and high quality products. Check now</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo voluptas nisi iste
                            reiciendis, tempore commodi necessitatibus, laborum laudantium.</p>
                    </div>
                </div>
                <!--end heading-->
            </div>
            <div class="row">
                <!--start product single-->
                <div class="col-lg-4 col-md-6">
                    <div class="prod-single text-center">
                        <img src="assets/img/product-1.jpg" class="img-fluid" alt="" />
                        <div class="prod-info">
                            <h4>Olimus Blue</h4>
                            <h5>$188.00</h5>
                            <a href="#">Order Now <i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!--end product single-->
                <!--start product single-->
                <div class="col-lg-4 col-md-6">
                    <div class="prod-single text-center">
                        <div class="prod-img">
                            <img src="assets/img/product-2.jpg" class="img-fluid" alt="" />
                            <div class="prod-info">
                                <h4>Amexso Black</h4>
                                <h5>$220.00</h5>
                                <a href="#">Order Now <i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end product single-->
                <!--start product single-->
                <div class="col-lg-4 col-md-6">
                    <div class="prod-single text-center">
                        <div class="prod-img">
                            <img src="assets/img/product-3.jpg" class="img-fluid" alt="" />
                            <div class="prod-info">
                                <h4>Latexo Green</h4>
                                <h5>$350.00</h5>
                                <a href="#">Order Now <i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end product single-->
                <!--start product single-->
                <div class="col-lg-4 col-md-6">
                    <div class="prod-single text-center">
                        <div class="prod-img">
                            <img src="assets/img/product-4.jpg" class="img-fluid" alt="" />
                            <div class="prod-info">
                                <h4>Alimax Pink</h4>
                                <h5>$299.00</h5>
                                <a href="#">Order Now <i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end product single-->
                <!--start product single-->
                <div class="col-lg-4 col-md-6">
                    <div class="prod-single text-center">
                        <div class="prod-img">
                            <img src="assets/img/product-3.jpg" class="img-fluid" alt="" />
                            <div class="prod-info">
                                <h4>Glasgox Green</h4>
                                <h5>$199.00</h5>
                                <a href="#">Order Now <i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end product single-->
                <!--start product single-->
                <div class="col-lg-4 col-md-6">
                    <div class="prod-single text-center">
                        <div class="prod-img">
                            <img src="assets/img/product-1.jpg" class="img-fluid" alt="" />
                            <div class="prod-info">
                                <h4>Amelia Blue</h4>
                                <h5>$250.00</h5>
                                <a href="#">Order Now <i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end product single-->
            </div>
        </div>
    </section>
    <!--end product area-->
    <!--start newsletter area-->
    <section id="newsletter-area" class="bg">
        <div class="container">
            <div class="row">
                <!--start newsletter content-->
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="newsletter-box">
                        <div class="heading text-center">
                            <h5 class="text-light">Get Up To Date</h5>
                            <h2 class="text-white">Subscribe our newsletter</h2>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic
                                explicabo voluptas nisi iste reiciendis, tempore commodi necessitatibus, laborum
                                laudantium in.</p>
                        </div>
                        <!--start newsletter form-->
                        <div class="newsletter-form">
                            <form action="#" method="post">
                                <input type="email" class="form-control" id="news-email" placeholder="Enter your email">
                                <button type="submit">Subscribe Now</button>
                            </form>
                        </div>
                        <!--end newsletter form-->
                    </div>
                </div>
                <!--end newsletter content-->
            </div>
        </div>
    </section>
    <!--end newsletter area-->
    <!--start faq area-->
    <section id="faq-area" class="default" data-scroll-index="3">
        <div class="container">
            <div class="row">
                <!--start heading-->
                <div class="col-lg-8 offset-lg-2">
                    <div class="heading text-center">
                        <h5>FAQ</h5>
                        <h2>Frequently asked questions</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo voluptas nisi iste
                            reiciendis, tempore commodi necessitatibus, laborum laudantium.</p>
                    </div>
                </div>
                <!--end heading-->
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div id="accordion" role="tablist">
                        <!--start faq single-->
                        <div class="card default">
                            <div class="card-header active" role="tab" id="faq1">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapse1" aria-expanded="true"
                                        aria-controls="collapse1">How can I buy the watch?</a>
                                </h5>
                            </div>
                            <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="faq1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                                    Pellentesque aliquet nibh nec urna. In nisi nequesi.
                                </div>
                            </div>
                        </div>
                        <!--end faq single-->
                        <!--start faq single-->
                        <div class="card default">
                            <div class="card-header" role="tab" id="faq2">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                                        aria-controls="collapse2">How can I order the watch?</a>
                                </h5>
                            </div>
                            <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="faq2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                                    Pellentesque aliquet nibh nec urna. In nisi nequesi.
                                </div>
                            </div>
                        </div>
                        <!--end faq single-->
                        <!--start faq single-->
                        <div class="card default">
                            <div class="card-header" role="tab" id="faq3">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                                        aria-controls="collapse3">How much price of the watch?</a>
                                </h5>
                            </div>
                            <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="faq3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                                    Pellentesque aliquet nibh nec urna. In nisi nequesi.
                                </div>
                            </div>
                        </div>
                        <!--end faq single-->
                        <!--start faq single-->
                        <div class="card default">
                            <div class="card-header" role="tab" id="faq4">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                                        aria-controls="collapse4">How can I get refund?</a>
                                </h5>
                            </div>
                            <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="faq4"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                                    Pellentesque aliquet nibh nec urna. In nisi nequesi.
                                </div>
                            </div>
                        </div>
                        <!--end faq single-->
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="faq-img">
                        <img src="assets/img/watch-img-3.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end faq area-->
    <!--start testimonial area-->
    <section id="testi-area" class="bg-gray" data-scroll-index="4">
        <div class="container">
            <div class="row">
                <!--start heading-->
                <div class="col-lg-8 offset-lg-2">
                    <div class="heading text-center">
                        <h5>Customer Feedback</h5>
                        <h2>Our Clients valuable reviews about our products and service</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo voluptas nisi iste
                            reiciendis, tempore commodi necessitatibus, laborum laudantium.</p>
                    </div>
                </div>
                <!--end heading-->
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="testi-carousel owl-carousel">
                        <!--start testimonial single-->
                        <div class="testi-single text-center">
                            <div class="client-img">
                                <img src="assets/img/client-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="client-comnt">
                                <h5>Laboriosam libero, aliquam magnam debitis exercitationem doloribus quo repellat
                                    aperiam doloremque aut, optio ab modi, itaque maiores labore.</h5>
                                <span><i class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i></span>
                            </div>
                            <div class="client-details">
                                <h4>- Adam Smith</h4>
                                <p>product marketer</p>
                            </div>
                        </div>
                        <!--end testimonial single-->
                        <!--start testimonial single-->
                        <div class="testi-single text-center">
                            <div class="client-img">
                                <img src="assets/img/client-2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="client-comnt">
                                <h5>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu
                                    vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis.
                                </h5>
                                <span><i class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i></span>
                            </div>
                            <div class="client-details">
                                <h4>- Shane Kyle</h4>
                                <p>affiliate marketer</p>
                            </div>
                        </div>
                        <!--end testimonial single-->
                        <!--start testimonial single-->
                        <div class="testi-single text-center">
                            <div class="client-img">
                                <img src="assets/img/client-3.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="client-comnt">
                                <h5>Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam
                                    nulla quam, gravida non, commodo a, sodales sit amet, nisi, itaque maiores labore.
                                </h5>
                                <span><i class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i><i class="icofont-star"></i><i
                                        class="icofont-star"></i></span>
                            </div>
                            <div class="client-details">
                                <h4>- Micheal Jonson</h4>
                                <p>product manager</p>
                            </div>
                        </div>
                        <!--end testimonial single-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end testimonial area-->
    <!--start contact area-->
    <section id="contact-area" data-scroll-index="5">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="heading">
                        <h5>Need Help</h5>
                        <h2>Contact with us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo voluptas nisi iste
                            reiciendis, tempore commodi necessitatibus, laborum laudantium in.</p>
                    </div>
                    <div class="contact-info">
                        <h5>Address:</h5>
                        <p>Maount View, Oval Road <br> New York, USA</p>
                    </div>
                    <div class="contact-info">
                        <h5>Email:</h5>
                        <p>support@email.com <br> example@support.com</p>
                    </div>
                    <div class="contact-info">
                        <h5>Phone:</h5>
                        <p>+91 12345 67890<br> +93 12345 67890</p>
                    </div>
                </div>
                <!--start contact form-->
                <div class="col-md-7">
                    <div class="contact-form">
                        <h3>Leave Us A Message</h3>
                        <form id="ajax-contact" action="http://omexer.com/tm/RecycleML/demo/contact.php" method="post">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name*"
                                    required="required" data-error="name is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter email*" required="required"
                                    data-error="valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" name="message" rows="8"
                                    placeholder="Write your message*" required="required"
                                    data-error="Please, leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit">Submit</button>
                            <div class="messages"></div>
                        </form>
                    </div>
                </div>
                <!--end contact form-->
            </div>
        </div>
    </section>
    <!--end contact area-->
    <!--start footer-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <!--start footer content-->
                <div class="col-lg-12">
                    <div class="footer-cont text-center">
                        <img src="assets/img/logo.png" class="img-fluid" alt="" />
                        <h4>Follow Us</h4>
                        <ul>
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                        </ul>
                        <p>&copy; Copyright 2019. All Rights Reserved By <a target="_blank"
                                href="https://omexer.com/">omexer.com</a></p>
                    </div>
                </div>
                <!--end footer content-->
            </div>
        </div>
    </footer>
    <!--end footer-->
    <!--jQuery js-->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!--proper js-->
    <script src="assets/js/popper.min.js"></script>
    <!--bootstrap js-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!--magnic popup js-->
    <script src="assets/js/magnific-popup.min.js"></script>
    <!--owl carousel js-->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!--scrollIt js-->
    <script src="assets/js/scrollIt.min.js"></script>
    <!--contact js-->
    <script src="assets/js/contact.js"></script>
    <!--validator js-->
    <script src="assets/js/validator.min.js"></script>
    <!--main js-->
    <script src="assets/js/custom.js"></script>
</body>


<!-- Mirrored from omexer.com/tm/RecycleML/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 02 Nov 2019 20:21:21 GMT -->

</html>